In [182]:
import pandas as pd
import numpy as np
from numpy import array
import os
import sys

In [183]:
sys.path.append(os.getcwd()+'\\test_data\\resultDF_lastFilter_deneme.csv')  # system path'ine adres eklenir.   
path = sys.path[-1]  #en son eklenen adres kullanılır.
dataset = pd.read_csv(path)
dataset

,primary,SESSION,HOLD_.,DD_.t,UD_.t,HOLD_t,DD_ti,UD_ti,HOLD_i,DD_ie,...,HOLD_o,DD_oa,UD_oa,HOLD_a,DD_an,UD_an,HOLD_n,DD_nl,UD_nl,HOLD_l
0,kadiryunuskoc@gmail.com,1.0,0.0033,251.4266,251.4287,0.0021,217.5427,217.5459,0.0032,230.6694,...,0.0036,139.8256,139.8279,0.0023,165.3019,165.3055,0.0036,890.6842,890.6873,0.0031
1,kadiryunuskoc@gmail.com,2.0,0.0131,167.1271,167.1304,0.0033,447.4884,447.4916,0.0032,246.3642,...,0.0033,178.8834,178.8867,0.0033,201.7154,201.7187,0.0033,249.8710,249.8742,0.0032
2,kadiryunuskoc@gmail.com,3.0,0.0032,217.4571,217.4604,0.0033,186.6448,186.6483,0.0035,261.1054,...,0.0033,149.7273,149.7305,0.0032,122.4818,122.4839,0.0021,213.8020,213.8054,0.0034
3,kadiryunuskoc@gmail.com,4.0,0.0033,503.1993,503.2027,0.0034,212.1022,212.1056,0.0034,279.8099,...,0.0032,134.3490,134.3524,0.0034,147.2066,147.2099,0.0033,190.6669,190.6704,0.0035
4,kadiryunuskoc@gmail.com,5.0,0.0031,262.7721,262.7756,0.0035,172.1584,172.1619,0.0035,261.4961,...,0.0033,138.4832,138.4865,0.0033,147.5507,147.5539,0.0032,219.0859,219.0897,0.0038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,yasemin.senlik@ibss.com.tr,5.0,0.0014,932.3221,932.3236,0.0015,313.8327,313.8343,0.0016,3194.0573,...,0.0016,265.8825,265.8841,0.0016,140.0179,140.0224,0.0045,186.5915,186.5945,0.0030
226,yasemin.senlik@ibss.com.tr,1.0,0.0020,344.2454,344.2471,0.0017,101.9816,101.9835,0.0019,231.0275,...,0.0017,199.4187,199.4202,0.0015,52.4506,52.4528,0.0022,150.8616,150.8631,0.0015
227,yasemin.senlik@ibss.com.tr,2.0,0.0016,188.0112,188.0127,0.0015,119.4002,119.4015,0.0013,175.4284,...,0.0015,199.6078,199.6098,0.0020,68.9063,68.9078,0.0015,187.7491,187.7506,0.0015
228,yasemin.senlik@ibss.com.tr,3.0,0.0019,188.2383,188.2400,0.0017,35.9922,35.9934,0.0012,186.8963,...,0.0019,228.7646,228.7665,0.0019,59.5271,59.5290,0.0019,102.8652,102.8671,0.0019
229,yasemin.senlik@ibss.com.tr,4.0,0.0016,175.1573,175.1585,0.0012,36.6912,36.6926,0.0014,194.7347,...,0.0019,233.9114,233.9145,0.0031,62.3418,62.3432,0.0014,200.5349,200.5362,0.0013

In [184]:
counter = 0
for i in range(0, len(dataset)):
    if isinstance(dataset["primary"].iloc[i], str): 
    # if type(dataset["MAIL"].iloc[i]) == str:
        counter += 1
        temp = dataset["primary"].iloc[i]
        dataset["primary"].iloc[i] = counter
    for j in range(i+1, len(dataset)):
        if temp == dataset["primary"].iloc[j]:
            dataset["primary"].iloc[j] = counter

dataset_class_name = dataset.groupby("primary")
mail_list = dataset_class_name.groups.keys()
# print(mail_list)

C:\Users\IBSS\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [185]:
mail_list

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39])

In [186]:
dataset

,primary,SESSION,HOLD_.,DD_.t,UD_.t,HOLD_t,DD_ti,UD_ti,HOLD_i,DD_ie,...,HOLD_o,DD_oa,UD_oa,HOLD_a,DD_an,UD_an,HOLD_n,DD_nl,UD_nl,HOLD_l
0,1,1.0,0.0033,251.4266,251.4287,0.0021,217.5427,217.5459,0.0032,230.6694,...,0.0036,139.8256,139.8279,0.0023,165.3019,165.3055,0.0036,890.6842,890.6873,0.0031
1,1,2.0,0.0131,167.1271,167.1304,0.0033,447.4884,447.4916,0.0032,246.3642,...,0.0033,178.8834,178.8867,0.0033,201.7154,201.7187,0.0033,249.8710,249.8742,0.0032
2,1,3.0,0.0032,217.4571,217.4604,0.0033,186.6448,186.6483,0.0035,261.1054,...,0.0033,149.7273,149.7305,0.0032,122.4818,122.4839,0.0021,213.8020,213.8054,0.0034
3,1,4.0,0.0033,503.1993,503.2027,0.0034,212.1022,212.1056,0.0034,279.8099,...,0.0032,134.3490,134.3524,0.0034,147.2066,147.2099,0.0033,190.6669,190.6704,0.0035
4,1,5.0,0.0031,262.7721,262.7756,0.0035,172.1584,172.1619,0.0035,261.4961,...,0.0033,138.4832,138.4865,0.0033,147.5507,147.5539,0.0032,219.0859,219.0897,0.0038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,39,5.0,0.0014,932.3221,932.3236,0.0015,313.8327,313.8343,0.0016,3194.0573,...,0.0016,265.8825,265.8841,0.0016,140.0179,140.0224,0.0045,186.5915,186.5945,0.0030
226,39,1.0,0.0020,344.2454,344.2471,0.0017,101.9816,101.9835,0.0019,231.0275,...,0.0017,199.4187,199.4202,0.0015,52.4506,52.4528,0.0022,150.8616,150.8631,0.0015
227,39,2.0,0.0016,188.0112,188.0127,0.0015,119.4002,119.4015,0.0013,175.4284,...,0.0015,199.6078,199.6098,0.0020,68.9063,68.9078,0.0015,187.7491,187.7506,0.0015
228,39,3.0,0.0019,188.2383,188.2400,0.0017,35.9922,35.9934,0.0012,186.8963,...,0.0019,228.7646,228.7665,0.0019,59.5271,59.5290,0.0019,102.8652,102.8671,0.0019
229,39,4.0,0.0016,175.1573,175.1585,0.0012,36.6912,36.6926,0.0014,194.7347,...,0.0019,233.9114,233.9145,0.0031,62.3418,62.3432,0.0014,200.5349,200.5362,0.0013

In [187]:
# dataset = dataset.iloc[np.random.permutation(len(dataset))].reset_index(drop = True)
# dataset

In [189]:
dataset.columns

Index(['primary', 'SESSION', 'HOLD_.', 'DD_.t', 'UD_.t', 'HOLD_t', 'DD_ti',
       'UD_ti', 'HOLD_i', 'DD_ie', 'UD_ie', 'HOLD_e', 'DD_e5', 'UD_e5',
       'HOLD_5', 'DD_5R', 'UD_5R', 'HOLD_R', 'DD_Ro', 'UD_Ro', 'HOLD_o',
       'DD_oa', 'UD_oa', 'HOLD_a', 'DD_an', 'UD_an', 'HOLD_n', 'DD_nl',
       'UD_nl', 'HOLD_l'],
      dtype='object')

In [190]:
dataset1 = dataset[["primary", "HOLD_.", "HOLD_t", "HOLD_i", "HOLD_e", "HOLD_5", "HOLD_R", "HOLD_o", "HOLD_a", "HOLD_n", "HOLD_l"]]
dataset1.to_csv("dataset_HOLD.csv",index=False)
dataset1

,primary,HOLD_.,HOLD_t,HOLD_i,HOLD_e,HOLD_5,HOLD_R,HOLD_o,HOLD_a,HOLD_n,HOLD_l
0,1,0.0033,0.0021,0.0032,0.0033,0.0030,0.0035,0.0036,0.0023,0.0036,0.0031
1,1,0.0131,0.0033,0.0032,0.0030,0.0031,0.0036,0.0033,0.0033,0.0033,0.0032
2,1,0.0032,0.0033,0.0035,0.0030,0.0034,0.0034,0.0033,0.0032,0.0021,0.0034
3,1,0.0033,0.0034,0.0034,0.0032,0.0036,0.0028,0.0032,0.0034,0.0033,0.0035
4,1,0.0031,0.0035,0.0035,0.0032,0.0031,0.0034,0.0033,0.0033,0.0032,0.0038
...,...,...,...,...,...,...,...,...,...,...,...
225,39,0.0014,0.0015,0.0016,0.0017,0.0020,0.0015,0.0016,0.0016,0.0045,0.0030
226,39,0.0020,0.0017,0.0019,0.0017,0.0016,0.0017,0.0017,0.0015,0.0022,0.0015
227,39,0.0016,0.0015,0.0013,0.0017,0.0019,0.0015,0.0015,0.0020,0.0015,0.0015
228,39,0.0019,0.0017,0.0012,0.0021,0.0022,0.0018,0.0019,0.0019,0.0019,0.0019
229,39,0.0016,0.0012,0.0014,0.0018,0.0016,0.0015,0.0019,0.0031,0.0014,0.0013

In [191]:
dataset2 = dataset[['primary', 'DD_.t', 'DD_ti', 'DD_ie', 'DD_e5', 'DD_5R', 'DD_Ro', 'DD_oa', 'DD_an', 'DD_nl']]
dataset2.to_csv("dataset_DD.csv",index=False)
dataset2

,primary,DD_.t,DD_ti,DD_ie,DD_e5,DD_5R,DD_Ro,DD_oa,DD_an,DD_nl
0,1,251.4266,217.5427,230.6694,353.8606,697.2475,393.9467,139.8256,165.3019,890.6842
1,1,167.1271,447.4884,246.3642,391.8118,1220.7517,493.9583,178.8834,201.7154,249.8710
2,1,217.4571,186.6448,261.1054,491.3086,327.2521,222.2534,149.7273,122.4818,213.8020
3,1,503.1993,212.1022,279.8099,371.1011,268.8982,166.2438,134.3490,147.2066,190.6669
4,1,262.7721,172.1584,261.4961,350.8600,532.2716,373.6255,138.4832,147.5507,219.0859
...,...,...,...,...,...,...,...,...,...,...
225,39,932.3221,313.8327,3194.0573,16961.5699,851.9391,261.3868,265.8825,140.0179,186.5915
226,39,344.2454,101.9816,231.0275,1352.1970,385.6308,150.0250,199.4187,52.4506,150.8616
227,39,188.0112,119.4002,175.4284,1106.5019,269.1947,178.4799,199.6078,68.9063,187.7491
228,39,188.2383,35.9922,186.8963,1229.8498,294.6727,125.4818,228.7646,59.5271,102.8652
229,39,175.1573,36.6912,194.7347,800.9752,370.1358,177.6957,233.9114,62.3418,200.5349

In [192]:
dataset3 = dataset[['primary', 'UD_.t', 'UD_ti', 'UD_ie', 'UD_e5', 'UD_5R', 'UD_Ro', 'UD_oa', 'UD_an', 'UD_nl']]
dataset3.to_csv("dataset_UD.csv",index=False)
dataset3

,primary,UD_.t,UD_ti,UD_ie,UD_e5,UD_5R,UD_Ro,UD_oa,UD_an,UD_nl
0,1,251.4287,217.5459,230.6727,353.8636,697.2510,393.9503,139.8279,165.3055,890.6873
1,1,167.1304,447.4916,246.3672,391.8149,1220.7553,493.9616,178.8867,201.7187,249.8742
2,1,217.4604,186.6483,261.1084,491.3120,327.2555,222.2567,149.7305,122.4839,213.8054
3,1,503.2027,212.1056,279.8131,371.1047,268.9010,166.2470,134.3524,147.2099,190.6704
4,1,262.7756,172.1619,261.4993,350.8631,532.2750,373.6288,138.4865,147.5539,219.0897
...,...,...,...,...,...,...,...,...,...,...
225,39,932.3236,313.8343,3194.0590,16961.5719,851.9406,261.3884,265.8841,140.0224,186.5945
226,39,344.2471,101.9835,231.0292,1352.1986,385.6325,150.0267,199.4202,52.4528,150.8631
227,39,188.0127,119.4015,175.4301,1106.5038,269.1962,178.4814,199.6098,68.9078,187.7506
228,39,188.2400,35.9934,186.8984,1229.8520,294.6745,125.4837,228.7665,59.5290,102.8671
229,39,175.1585,36.6926,194.7365,800.9768,370.1373,177.6976,233.9145,62.3432,200.5362

In [193]:
# dataset2 = dataset[[dataset.columns.str.contains("HOLD")]]

In [194]:
# dataset.columns.str.contains("HOLD")

In [195]:
dataset1.iloc[:, 1:-1]

     HOLD_.  HOLD_t  HOLD_i  HOLD_e  HOLD_5  HOLD_R  HOLD_o  HOLD_a  HOLD_n
0    0.0033  0.0021  0.0032  0.0033  0.0030  0.0035  0.0036  0.0023  0.0036
1    0.0131  0.0033  0.0032  0.0030  0.0031  0.0036  0.0033  0.0033  0.0033
2    0.0032  0.0033  0.0035  0.0030  0.0034  0.0034  0.0033  0.0032  0.0021
3    0.0033  0.0034  0.0034  0.0032  0.0036  0.0028  0.0032  0.0034  0.0033
4    0.0031  0.0035  0.0035  0.0032  0.0031  0.0034  0.0033  0.0033  0.0032
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
225  0.0014  0.0015  0.0016  0.0017  0.0020  0.0015  0.0016  0.0016  0.0045
226  0.0020  0.0017  0.0019  0.0017  0.0016  0.0017  0.0017  0.0015  0.0022
227  0.0016  0.0015  0.0013  0.0017  0.0019  0.0015  0.0015  0.0020  0.0015
228  0.0019  0.0017  0.0012  0.0021  0.0022  0.0018  0.0019  0.0019  0.0019
229  0.0016  0.0012  0.0014  0.0018  0.0016  0.0015  0.0019  0.0031  0.0014

[230 rows x 9 columns]

In [196]:
np.unique(dataset1.iloc[:, 0])

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39], dtype=object)

In [197]:
dataset_class_name = dataset1.groupby("primary")
mail_list = dataset_class_name.groups.keys()
mail_list

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39])