# Bir Günlük Veri Kümesinin çekilmesi

In [12]:
import pandas as pd
from datetime import datetime
import numpy as np
import time
import os
import glob

df1 = pd.read_csv('C:\\Users\\nursa\\Documents\\Nursah\\TİK 3\\Flight\\VsCode\\data\\rawData\\states_2021-12-06-20.csv') # Use Tab to separate
df2 = pd.read_csv('C:\\Users\\nursa\\Documents\\Nursah\\TİK 3\\Flight\\VsCode\\data\\rawData\\states_2021-12-06-21.csv') # Use Tab to separate
df3 = pd.read_csv('C:\\Users\\nursa\\Documents\\Nursah\\TİK 3\\Flight\\VsCode\\data\\rawData\\states_2021-12-06-22.csv') # Use Ta
# df3 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-21.csv') # Use Tab to separate
# df4 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-20.csv') # Use Tab to separate

frames = [df1, df2, df3]
df = pd.concat(frames)
# df.sort_values("time")
df

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1638820800,394c0c,52.173615,4.802246,125.945306,184.685900,15.28064,AFR83UG,False,False,False,1000.0,1859.28,1714.50,1.638821e+09,1.638821e+09
1,1638820800,3c618b,45.726746,5.671759,226.887885,51.259036,0.32512,TUI8L,False,False,False,2322.0,11582.40,11506.20,1.638821e+09,1.638821e+09
2,1638820800,345043,46.343544,6.402969,168.433868,315.618721,0.00000,VLG8149,False,False,False,1000.0,9761.22,9677.40,1.638821e+09,1.638821e+09
3,1638820800,4d2237,47.226733,7.991920,241.157388,157.154488,5.85216,RYR4H,False,False,False,106.0,11315.70,11163.30,1.638821e+09,1.638821e+09
4,1638820800,02a041,45.816147,5.480838,165.884061,328.182965,0.00000,XRC110,False,False,False,1000.0,10363.20,10271.76,1.638821e+09,1.638821e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2330412,1638831590,a2d88a,33.392166,-111.564349,54.720013,99.196656,0.00000,OXF2978,False,False,False,NaN,1127.76,1104.90,1.638832e+09,1.638832e+09
2330413,1638831590,a9331e,31.152106,-88.401489,202.210524,277.161177,0.65024,N692L,False,False,True,NaN,13716.00,14051.28,1.638832e+09,1.638832e+09
2330414,1638831590,a41d9a,28.637307,-81.594705,55.285380,5.339237,0.00000,N36401,False,False,False,NaN,396.24,403.86,1.638832e+09,1.638832e+09
2330415,1638831590,8013df,23.077481,87.388865,225.242477,117.033239,-15.60576,IGO2106,False,False,False,NaN,6888.48,7223.76,1.638832e+09,1.638832e+09
2330416,1638831590,4851f5,42.261292,33.214853,272.929391,99.000699,0.00000,KLM833,False,False,False,1463.0,10058.40,10165.08,1.638832e+09,1.638832e+09

In [ ]:
# use glob to get all the csv files
# in the folder
path = "C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\"
csv_files = glob.glob(os.path.join(path, "*.csv"))

# print(csv_files)

In [ ]:
file_dict = {}
counter = 1
for file in csv_files:
    df = pd.read_csv(file)
    file_dict[counter] = df
    counter += 1

In [2]:
#df = pd.concat(file_dict)
df.reset_index(drop=True, inplace=True)
df["label"] = 1
df.sort_values("time")
df_turkey = df

In [ ]:
# lon: boylam 26 - 45
# lat: enlemv 36 - 42

In [3]:
df_turkey = df[(df.lon < 100) & (df.lon > 10) & (df.lat < 100) & (df.lat > 10)]
df_turkey = df_turkey.dropna()
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,label
8,1638820810,3c66ac,43.050485,22.645830,190.219104,121.282654,-11.05408,DLH7FH,False,False,False,7653.0,5905.50,5882.64,1.638821e+09,1.638821e+09,1
72,1638820810,4b17fb,47.739506,10.063899,174.524701,267.803893,-11.05408,SWR152A,False,False,False,1000.0,6362.70,6271.26,1.638821e+09,1.638821e+09,1
74,1638820810,4b18e4,42.559570,27.817633,269.413984,97.681400,-1.30048,HBJLC,False,False,False,215.0,13106.40,13083.54,1.638821e+09,1.638821e+09,1
76,1638820810,424903,55.611955,37.350254,91.340977,69.217341,12.35456,UTA247,False,False,False,2173.0,868.68,883.92,1.638821e+09,1.638821e+09,1
96,1638820810,4406f0,52.298134,13.270229,89.129557,68.321411,-4.87680,EJU83AR,False,False,False,1000.0,868.68,883.92,1.638821e+09,1.638821e+09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7284882,1638831590,4caf94,54.366217,18.512129,68.781759,291.960564,-4.22656,SZS753,False,False,False,4505.0,236.22,274.32,1.638832e+09,1.638832e+09,1
7284890,1638831590,a4b470,32.150512,34.078132,195.023814,284.512781,8.45312,DAL235,False,False,False,7211.0,3756.66,3916.68,1.638832e+09,1.638832e+09,1
7284934,1638831590,4ba93a,49.876580,14.594892,252.956357,120.424189,0.00000,THY9CT,False,False,False,1462.0,12496.80,12245.34,1.638832e+09,1.638832e+09,1
7284946,1638831590,896318,28.582841,76.597488,191.898645,269.385592,17.23136,UAE513,False,False,False,523.0,4373.88,4480.56,1.638832e+09,1.638832e+09,1
7284974,1638831590,4851f5,42.261292,33.214853,272.929391,99.000699,0.00000,KLM833,False,False,False,1463.0,10058.40,10165.08,1.638832e+09,1.638832e+09,1

# Unix timestamp'in saat ve tarihe çevrilmesi

In [4]:
time_type = []
date_type = []

for i in range(0, len(df_turkey)):
    t_type = time.strftime("%X", time.localtime(df_turkey["time"].iloc[i]))
    d_type = time.strftime("%D", time.localtime(df_turkey["time"].iloc[i]))
    time_type.append(t_type)
    date_type.append(d_type)

df_turkey["time_t"] = time_type
df_turkey["date"] = date_type
    
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,label,time_t,date
8,1638820810,3c66ac,43.050485,22.645830,190.219104,121.282654,-11.05408,DLH7FH,False,False,False,7653.0,5905.50,5882.64,1.638821e+09,1.638821e+09,1,23:00:10,12/06/21
72,1638820810,4b17fb,47.739506,10.063899,174.524701,267.803893,-11.05408,SWR152A,False,False,False,1000.0,6362.70,6271.26,1.638821e+09,1.638821e+09,1,23:00:10,12/06/21
74,1638820810,4b18e4,42.559570,27.817633,269.413984,97.681400,-1.30048,HBJLC,False,False,False,215.0,13106.40,13083.54,1.638821e+09,1.638821e+09,1,23:00:10,12/06/21
76,1638820810,424903,55.611955,37.350254,91.340977,69.217341,12.35456,UTA247,False,False,False,2173.0,868.68,883.92,1.638821e+09,1.638821e+09,1,23:00:10,12/06/21
96,1638820810,4406f0,52.298134,13.270229,89.129557,68.321411,-4.87680,EJU83AR,False,False,False,1000.0,868.68,883.92,1.638821e+09,1.638821e+09,1,23:00:10,12/06/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7284882,1638831590,4caf94,54.366217,18.512129,68.781759,291.960564,-4.22656,SZS753,False,False,False,4505.0,236.22,274.32,1.638832e+09,1.638832e+09,1,01:59:50,12/07/21
7284890,1638831590,a4b470,32.150512,34.078132,195.023814,284.512781,8.45312,DAL235,False,False,False,7211.0,3756.66,3916.68,1.638832e+09,1.638832e+09,1,01:59:50,12/07/21
7284934,1638831590,4ba93a,49.876580,14.594892,252.956357,120.424189,0.00000,THY9CT,False,False,False,1462.0,12496.80,12245.34,1.638832e+09,1.638832e+09,1,01:59:50,12/07/21
7284946,1638831590,896318,28.582841,76.597488,191.898645,269.385592,17.23136,UAE513,False,False,False,523.0,4373.88,4480.56,1.638832e+09,1.638832e+09,1,01:59:50,12/07/21
7284974,1638831590,4851f5,42.261292,33.214853,272.929391,99.000699,0.00000,KLM833,False,False,False,1463.0,10058.40,10165.08,1.638832e+09,1.638832e+09,1,01:59:50,12/07/21

In [5]:
feauture_list = ["icao24", "date", "time_t", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]
df_full_data =  df_turkey[feauture_list]
df_full_data

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
8,3c66ac,12/06/21,23:00:10,1638820810,43.050485,22.645830,121.282654,190.219104,5905.50,5882.64,1
72,4b17fb,12/06/21,23:00:10,1638820810,47.739506,10.063899,267.803893,174.524701,6362.70,6271.26,1
74,4b18e4,12/06/21,23:00:10,1638820810,42.559570,27.817633,97.681400,269.413984,13106.40,13083.54,1
76,424903,12/06/21,23:00:10,1638820810,55.611955,37.350254,69.217341,91.340977,868.68,883.92,1
96,4406f0,12/06/21,23:00:10,1638820810,52.298134,13.270229,68.321411,89.129557,868.68,883.92,1
...,...,...,...,...,...,...,...,...,...,...,...
7284882,4caf94,12/07/21,01:59:50,1638831590,54.366217,18.512129,291.960564,68.781759,236.22,274.32,1
7284890,a4b470,12/07/21,01:59:50,1638831590,32.150512,34.078132,284.512781,195.023814,3756.66,3916.68,1
7284934,4ba93a,12/07/21,01:59:50,1638831590,49.876580,14.594892,120.424189,252.956357,12496.80,12245.34,1
7284946,896318,12/07/21,01:59:50,1638831590,28.582841,76.597488,269.385592,191.898645,4373.88,4480.56,1
7284974,4851f5,12/07/21,01:59:50,1638831590,42.261292,33.214853,99.000699,272.929391,10058.40,10165.08,1

In [6]:
uniqueValues = (df_full_data['icao24']).unique()
len(uniqueValues)
for i in range(0, len(uniqueValues)):
    for j in range(0, len(df_full_data)):
        if( df_full_data['icao24'].iloc [j] == uniqueValues[i]):
            df_full_data['icao24'].iloc [j] = i + 1
            
            
df_full_data

C:\Users\nursa\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-6-1517f1be11c7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_full_data['icao24'].iloc [j] = i + 1

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
8,1,12/06/21,23:00:10,1638820810,43.050485,22.645830,121.282654,190.219104,5905.50,5882.64,1
72,2,12/06/21,23:00:10,1638820810,47.739506,10.063899,267.803893,174.524701,6362.70,6271.26,1
74,3,12/06/21,23:00:10,1638820810,42.559570,27.817633,97.681400,269.413984,13106.40,13083.54,1
76,4,12/06/21,23:00:10,1638820810,55.611955,37.350254,69.217341,91.340977,868.68,883.92,1
96,5,12/06/21,23:00:10,1638820810,52.298134,13.270229,68.321411,89.129557,868.68,883.92,1
...,...,...,...,...,...,...,...,...,...,...,...
7284882,111,12/07/21,01:59:50,1638831590,54.366217,18.512129,291.960564,68.781759,236.22,274.32,1
7284890,1535,12/07/21,01:59:50,1638831590,32.150512,34.078132,284.512781,195.023814,3756.66,3916.68,1
7284934,1495,12/07/21,01:59:50,1638831590,49.876580,14.594892,120.424189,252.956357,12496.80,12245.34,1
7284946,675,12/07/21,01:59:50,1638831590,28.582841,76.597488,269.385592,191.898645,4373.88,4480.56,1
7284974,897,12/07/21,01:59:50,1638831590,42.261292,33.214853,99.000699,272.929391,10058.40,10165.08,1

In [7]:
df_full_data =  df_full_data[["icao24", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]]
df_full_data

,icao24,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
8,1,1638820810,43.050485,22.645830,121.282654,190.219104,5905.50,5882.64,1
72,2,1638820810,47.739506,10.063899,267.803893,174.524701,6362.70,6271.26,1
74,3,1638820810,42.559570,27.817633,97.681400,269.413984,13106.40,13083.54,1
76,4,1638820810,55.611955,37.350254,69.217341,91.340977,868.68,883.92,1
96,5,1638820810,52.298134,13.270229,68.321411,89.129557,868.68,883.92,1
...,...,...,...,...,...,...,...,...,...
7284882,111,1638831590,54.366217,18.512129,291.960564,68.781759,236.22,274.32,1
7284890,1535,1638831590,32.150512,34.078132,284.512781,195.023814,3756.66,3916.68,1
7284934,1495,1638831590,49.876580,14.594892,120.424189,252.956357,12496.80,12245.34,1
7284946,675,1638831590,28.582841,76.597488,269.385592,191.898645,4373.88,4480.56,1
7284974,897,1638831590,42.261292,33.214853,99.000699,272.929391,10058.40,10165.08,1

In [8]:
df_full_data.to_csv('df_turkey_full.csv', index=False)

# Callsign'e göre bir günde kaç farklı uçağın geçtiğinin hesaplanması

In [ ]:
uniqueValues = (df_turkey['icao24']).unique()
len(uniqueValues)
# uniqueValues

In [ ]:
column_names = ["icao24", "date", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "class"]
df_deneme = pd.DataFrame(columns = column_names)

for i in range(0, len(uniqueValues)):
    df_turkey_uni = df_turkey[df_turkey["icao24"] == uniqueValues[i]]
    
    
    # lat, lon ve time kolonlarını bir hücrede birleştirme 
    # (vektör olarak ifade etme)
    time_arr = df_turkey_uni["time_t"].to_list()
    lat_arr = df_turkey_uni["lat"].to_numpy()
    lon_arr = df_turkey_uni["lon"].to_numpy()
    head_arr = df_turkey_uni["heading"].to_numpy()
    vel_arr = df_turkey_uni["velocity"].to_numpy()
  #  squawk_arr = df_turkey_uni["squawk"].to_numpy()
    baro_arr = df_turkey_uni["baroaltitude"].to_numpy()
    geo_arr = df_turkey_uni["geoaltitude"].to_numpy()
    
    df_deneme.at[i, 'icao24'] = uniqueValues[i]
    df_deneme.at[i, 'date'] = df_turkey_uni["date"].iloc[0]
    df_deneme.at[i, 'lat'] = lat_arr
    df_deneme.at[i, 'lon'] = lon_arr
    df_deneme.at[i, 'time'] = time_arr
    df_deneme.at[i, 'heading'] = head_arr
    df_deneme.at[i, 'velocity'] = vel_arr
   # df_deneme.at[i, 'squawk'] = squawk_arr
    df_deneme.at[i, 'baroaltitude'] = baro_arr
    df_deneme.at[i, 'geoaltitude'] = geo_arr
    df_deneme.at[i, 'class'] = 0
    
    
df_deneme

In [ ]:
df_resut = df_deneme[["time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "class"]]
df_resut

In [ ]:
df_resut.to_csv('df_turkey.csv', index=False)