In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import time

df = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-20.csv') # Use Tab to separate

In [2]:
df_turkey = df[(df.lon < 45) & (df.lon > 26) & (df.lat < 42) & (df.lat > 36)]
df_turkey = df_turkey.dropna()
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
195,1638820810,4ba8cf,39.763824,33.249764,162.848140,305.095817,-2.60096,THY9AY,False,False,False,730.0,4838.70,4579.62,1.638821e+09,1.638821e+09
521,1638820810,4bcc67,39.337097,32.768575,201.194964,302.999301,0.00000,THY40U,False,False,False,5117.0,11582.40,11727.18,1.638821e+09,1.638821e+09
713,1638820810,4ba9f5,39.139664,30.519721,242.634937,135.257700,5.85216,THY6368,False,False,False,2361.0,11887.20,11498.58,1.638821e+09,1.638821e+09
745,1638820810,3c542d,37.066335,27.234749,224.155949,316.487868,-0.32512,BCS961,False,False,False,2243.0,10363.20,10500.36,1.638821e+09,1.638821e+09
851,1638820810,50848a,39.695559,32.870239,230.669485,352.954231,0.32512,SQP512,False,False,False,7350.0,10972.80,11125.20,1.638821e+09,1.638821e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495730,1638824390,4bb873,38.184860,30.773114,228.777244,130.531422,-0.97536,PGT757,False,False,False,2355.0,11879.58,12047.22,1.638824e+09,1.638824e+09
2495916,1638824390,4b9919,37.035750,33.180622,237.493227,128.756723,7.15264,FHY1986,False,False,False,5173.0,10012.68,9060.18,1.638824e+09,1.638824e+09
2495921,1638824390,4bb84f,40.179794,29.669373,230.292855,30.173520,-8.45312,PGT50M,False,True,False,3357.0,5897.88,6012.18,1.638824e+09,1.638824e+09
2496102,1638824390,4baa10,39.925735,32.551086,217.035626,320.385704,-0.32512,THY2TS,False,False,False,5102.0,11582.40,11734.80,1.638824e+09,1.638824e+09
2496612,1638824390,4ba976,41.127457,35.341003,255.013269,81.297776,0.00000,THY55Q,False,False,False,5133.0,11277.60,11407.14,1.638824e+09,1.638824e+09

In [3]:
time_type = []
date_type = []

for i in range(0, len(df_turkey)):
    t_type = time.strftime("%X", time.localtime(df_turkey["time"].iloc[i]))
    d_type = time.strftime("%D", time.localtime(df_turkey["time"].iloc[i]))
    time_type.append(t_type)
    date_type.append(d_type)

df_turkey["time_t"] = time_type
df_turkey["date"] = date_type
df_turkey["label"] = 1
    
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,time_t,date,label
195,1638820810,4ba8cf,39.763824,33.249764,162.848140,305.095817,-2.60096,THY9AY,False,False,False,730.0,4838.70,4579.62,1.638821e+09,1.638821e+09,23:00:10,12/06/21,1
521,1638820810,4bcc67,39.337097,32.768575,201.194964,302.999301,0.00000,THY40U,False,False,False,5117.0,11582.40,11727.18,1.638821e+09,1.638821e+09,23:00:10,12/06/21,1
713,1638820810,4ba9f5,39.139664,30.519721,242.634937,135.257700,5.85216,THY6368,False,False,False,2361.0,11887.20,11498.58,1.638821e+09,1.638821e+09,23:00:10,12/06/21,1
745,1638820810,3c542d,37.066335,27.234749,224.155949,316.487868,-0.32512,BCS961,False,False,False,2243.0,10363.20,10500.36,1.638821e+09,1.638821e+09,23:00:10,12/06/21,1
851,1638820810,50848a,39.695559,32.870239,230.669485,352.954231,0.32512,SQP512,False,False,False,7350.0,10972.80,11125.20,1.638821e+09,1.638821e+09,23:00:10,12/06/21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495730,1638824390,4bb873,38.184860,30.773114,228.777244,130.531422,-0.97536,PGT757,False,False,False,2355.0,11879.58,12047.22,1.638824e+09,1.638824e+09,23:59:50,12/06/21,1
2495916,1638824390,4b9919,37.035750,33.180622,237.493227,128.756723,7.15264,FHY1986,False,False,False,5173.0,10012.68,9060.18,1.638824e+09,1.638824e+09,23:59:50,12/06/21,1
2495921,1638824390,4bb84f,40.179794,29.669373,230.292855,30.173520,-8.45312,PGT50M,False,True,False,3357.0,5897.88,6012.18,1.638824e+09,1.638824e+09,23:59:50,12/06/21,1
2496102,1638824390,4baa10,39.925735,32.551086,217.035626,320.385704,-0.32512,THY2TS,False,False,False,5102.0,11582.40,11734.80,1.638824e+09,1.638824e+09,23:59:50,12/06/21,1
2496612,1638824390,4ba976,41.127457,35.341003,255.013269,81.297776,0.00000,THY55Q,False,False,False,5133.0,11277.60,11407.14,1.638824e+09,1.638824e+09,23:59:50,12/06/21,1

In [4]:
df_full_data =  df_turkey[["icao24", "date", "time_t", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]]
df_full_data

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
195,4ba8cf,12/06/21,23:00:10,1638820810,39.763824,33.249764,305.095817,162.848140,4838.70,4579.62,1
521,4bcc67,12/06/21,23:00:10,1638820810,39.337097,32.768575,302.999301,201.194964,11582.40,11727.18,1
713,4ba9f5,12/06/21,23:00:10,1638820810,39.139664,30.519721,135.257700,242.634937,11887.20,11498.58,1
745,3c542d,12/06/21,23:00:10,1638820810,37.066335,27.234749,316.487868,224.155949,10363.20,10500.36,1
851,50848a,12/06/21,23:00:10,1638820810,39.695559,32.870239,352.954231,230.669485,10972.80,11125.20,1
...,...,...,...,...,...,...,...,...,...,...,...
2495730,4bb873,12/06/21,23:59:50,1638824390,38.184860,30.773114,130.531422,228.777244,11879.58,12047.22,1
2495916,4b9919,12/06/21,23:59:50,1638824390,37.035750,33.180622,128.756723,237.493227,10012.68,9060.18,1
2495921,4bb84f,12/06/21,23:59:50,1638824390,40.179794,29.669373,30.173520,230.292855,5897.88,6012.18,1
2496102,4baa10,12/06/21,23:59:50,1638824390,39.925735,32.551086,320.385704,217.035626,11582.40,11734.80,1
2496612,4ba976,12/06/21,23:59:50,1638824390,41.127457,35.341003,81.297776,255.013269,11277.60,11407.14,1

In [5]:
uniqueValues = (df_turkey['icao24']).unique()
#len(uniqueValues)
for i in range(0, len(uniqueValues)):
    for j in range(0, len(df_full_data)):
        if( df_full_data['icao24'].iloc [j] == uniqueValues[i]):
            df_full_data['icao24'].iloc [j] = i + 1
            
            
df_full_data

C:\Users\ncevik\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
195,1,12/06/21,23:00:10,1638820810,39.763824,33.249764,305.095817,162.848140,4838.70,4579.62,1
521,2,12/06/21,23:00:10,1638820810,39.337097,32.768575,302.999301,201.194964,11582.40,11727.18,1
713,3,12/06/21,23:00:10,1638820810,39.139664,30.519721,135.257700,242.634937,11887.20,11498.58,1
745,4,12/06/21,23:00:10,1638820810,37.066335,27.234749,316.487868,224.155949,10363.20,10500.36,1
851,5,12/06/21,23:00:10,1638820810,39.695559,32.870239,352.954231,230.669485,10972.80,11125.20,1
...,...,...,...,...,...,...,...,...,...,...,...
2495730,107,12/06/21,23:59:50,1638824390,38.184860,30.773114,130.531422,228.777244,11879.58,12047.22,1
2495916,126,12/06/21,23:59:50,1638824390,37.035750,33.180622,128.756723,237.493227,10012.68,9060.18,1
2495921,119,12/06/21,23:59:50,1638824390,40.179794,29.669373,30.173520,230.292855,5897.88,6012.18,1
2496102,114,12/06/21,23:59:50,1638824390,39.925735,32.551086,320.385704,217.035626,11582.40,11734.80,1
2496612,88,12/06/21,23:59:50,1638824390,41.127457,35.341003,81.297776,255.013269,11277.60,11407.14,1

In [6]:
df_full_data =  df_full_data[["icao24", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]]
df_full_data

,icao24,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
195,1,1638820810,39.763824,33.249764,305.095817,162.848140,4838.70,4579.62,1
521,2,1638820810,39.337097,32.768575,302.999301,201.194964,11582.40,11727.18,1
713,3,1638820810,39.139664,30.519721,135.257700,242.634937,11887.20,11498.58,1
745,4,1638820810,37.066335,27.234749,316.487868,224.155949,10363.20,10500.36,1
851,5,1638820810,39.695559,32.870239,352.954231,230.669485,10972.80,11125.20,1
...,...,...,...,...,...,...,...,...,...
2495730,107,1638824390,38.184860,30.773114,130.531422,228.777244,11879.58,12047.22,1
2495916,126,1638824390,37.035750,33.180622,128.756723,237.493227,10012.68,9060.18,1
2495921,119,1638824390,40.179794,29.669373,30.173520,230.292855,5897.88,6012.18,1
2496102,114,1638824390,39.925735,32.551086,320.385704,217.035626,11582.40,11734.80,1
2496612,88,1638824390,41.127457,35.341003,81.297776,255.013269,11277.60,11407.14,1

In [7]:
df_full_data.to_csv('test.csv', index=False)