# Bir Günlük Veri Kümesinin çekilmesi

In [5]:
import pandas as pd
from datetime import datetime
import numpy as np
import time

df = pd.read_csv('C:\\Users\\nursa\\Documents\\Nursah\\TİK 3\\Flight\\Data\\states_2021-12-06-23.csv') # Use Tab to separate

In [2]:
frames = [df1, df2, df3]
df = pd.concat(frames)
df

NameError: name 'df3' is not defined

In [6]:
uniqueValues = (df['icao24']).unique()
len(uniqueValues)

10676

In [20]:
# lon: boylam 26 - 45
# lat: enlemv 36 - 42

In [7]:
df_turkey = df[(df.lon < 45) & (df.lon > 26) & (df.lat < 42) & (df.lat > 36)]
df_turkey = df_turkey.dropna()
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
686,1638831610,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09
918,1638831610,4a08e6,39.401442,29.834106,200.615352,162.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09
1581,1638831610,48418a,38.938248,28.090966,227.777307,130.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09
2206,1638831610,4d22ac,39.578247,27.127812,218.711315,136.620247,0.00000,BBG461,False,False,False,5546.0,11277.60,11292.84,1.638832e+09,1.638832e+09
2237,1638831610,4bccad,39.723404,33.359209,229.813714,129.641353,0.32512,SXS3U,False,False,False,7667.0,11879.58,12016.74,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130026,1638835190,4bb141,40.676414,30.360031,262.348787,99.480793,6.82752,THY730,False,False,False,5343.0,10424.16,10500.36,1.638835e+09,1.638835e+09
2130405,1638835190,01801f,39.931961,29.868103,244.563886,345.379126,-5.20192,BRQ115,False,False,False,3762.0,10668.00,10751.82,1.638835e+09,1.638835e+09
2130517,1638835190,3c6711,37.490426,26.739708,234.190143,139.275841,0.32512,DLH638,False,False,False,4350.0,12489.18,12504.42,1.638835e+09,1.638835e+09
2130688,1638835190,4bb1e7,40.125000,33.864746,267.067794,96.303628,0.00000,THY8YT,False,False,False,5154.0,12496.80,12603.48,1.638835e+09,1.638835e+09
2130965,1638835190,89617b,41.560959,32.771655,254.175947,109.755232,0.00000,UAE34,False,False,False,5173.0,11887.20,11971.02,1.638835e+09,1.638835e+09

# Unix timestamp'in saat ve tarihe çevrilmesi

In [8]:
time_type = []
date_type = []

for i in range(0, len(df_turkey)):
    t_type = time.strftime("%X", time.localtime(df_turkey["time"].iloc[i]))
    d_type = time.strftime("%D", time.localtime(df_turkey["time"].iloc[i]))
    time_type.append(t_type)
    date_type.append(d_type)

df_turkey["time_t"] = time_type
df_turkey["date"] = date_type
df_turkey["label"] = 0
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,time_t,date,label
686,1638831610,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
918,1638831610,4a08e6,39.401442,29.834106,200.615352,162.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
1581,1638831610,48418a,38.938248,28.090966,227.777307,130.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2206,1638831610,4d22ac,39.578247,27.127812,218.711315,136.620247,0.00000,BBG461,False,False,False,5546.0,11277.60,11292.84,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2237,1638831610,4bccad,39.723404,33.359209,229.813714,129.641353,0.32512,SXS3U,False,False,False,7667.0,11879.58,12016.74,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130026,1638835190,4bb141,40.676414,30.360031,262.348787,99.480793,6.82752,THY730,False,False,False,5343.0,10424.16,10500.36,1.638835e+09,1.638835e+09,02:59:50,12/07/21,0
2130405,1638835190,01801f,39.931961,29.868103,244.563886,345.379126,-5.20192,BRQ115,False,False,False,3762.0,10668.00,10751.82,1.638835e+09,1.638835e+09,02:59:50,12/07/21,0
2130517,1638835190,3c6711,37.490426,26.739708,234.190143,139.275841,0.32512,DLH638,False,False,False,4350.0,12489.18,12504.42,1.638835e+09,1.638835e+09,02:59:50,12/07/21,0
2130688,1638835190,4bb1e7,40.125000,33.864746,267.067794,96.303628,0.00000,THY8YT,False,False,False,5154.0,12496.80,12603.48,1.638835e+09,1.638835e+09,02:59:50,12/07/21,0
2130965,1638835190,89617b,41.560959,32.771655,254.175947,109.755232,0.00000,UAE34,False,False,False,5173.0,11887.20,11971.02,1.638835e+09,1.638835e+09,02:59:50,12/07/21,0

In [9]:
uniqueValues = (df_turkey['icao24']).unique()
len(uniqueValues)
# uniqueValues
# df_turkey_uni = df_turkey[df_turkey["icao24"] == uniqueValues[9]]
# df_turkey_uni

73

In [10]:
df_turkey_attack = df_turkey
for i in range(0, len(df_turkey_attack)):
    df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.05
    df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] + 0.0002
    df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] - 10
    df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] + 10
    df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #+ 0.2
    df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] #- 0.05

C:\Users\nursa\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
df_turkey_attack

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,time_t,date,label
686,1638831610,8964a8,41.154835,33.857816,246.374859,128.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
918,1638831610,4a08e6,39.451442,29.834306,190.615352,172.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
1581,1638831610,48418a,38.988248,28.091166,217.777307,140.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2206,1638831610,4d22ac,39.628247,27.128012,208.711315,146.620247,0.00000,BBG461,False,False,False,5546.0,11277.60,11292.84,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2237,1638831610,4bccad,39.773404,33.359409,219.813714,139.641353,0.32512,SXS3U,False,False,False,7667.0,11879.58,12016.74,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455391,1638827990,4bb84c,39.583650,32.308916,225.721474,136.569792,-0.32512,PGT64Q,False,False,False,5177.0,10668.00,10812.78,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2455530,1638827990,3c5827,41.986646,31.260548,244.834186,119.824995,0.00000,IFA4522,False,False,False,7355.0,10675.62,10751.82,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2455779,1638827990,4ba8cf,38.605923,28.184490,190.135246,279.263591,-10.40384,THY75W,False,False,False,5121.0,6309.36,6377.94,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2456510,1638827990,4ba90d,41.727734,28.024950,153.208525,114.605678,-3.57632,THY8FH,False,False,False,5553.0,3002.28,3025.14,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2456618,1638827990,4ba8c5,39.812501,34.681474,238.936151,114.725483,0.00000,THY8VG,False,False,False,5365.0,11269.98,11475.72,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0

In [19]:
aa = df_turkey_attack["lat"].iloc[i]
aa

39.81250082759534

In [21]:
df_turkey_attack["lat"].iloc[i] = df_turkey_attack["lat"].iloc[i]  + 0.05

C:\Users\nursa\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [22]:
df_turkey_attack = df_turkey
for i in range(0, len(df_turkey_attack)):
    if   i % 2 == 0: 
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.05
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.0002
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] - 10
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] 
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #+ 0.2
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] #- 0.05
    elif i % 3 == 0:
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.01
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.003
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] + 20
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] 
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #- 2.1
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] #+ 0.2
    elif i % 5 == 0:
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.07
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.05
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] - 50
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] 
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i]# + 1.9
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] #+ 2
        
    elif i % 6 == 0:
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.004
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.06
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] + 50
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] 
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #- 1
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] # - 1
        
    elif i % 7 == 0:
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.00009
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.007
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] - 25
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i] 
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #+ 1.2
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] #+ 0.9
    
    else:
        df_turkey_attack["lat"].iloc[i] = df_turkey["lat"].iloc[i] + 0.04
        df_turkey_attack["lon"].iloc[i] = df_turkey["lon"].iloc[i] - 0.008
        df_turkey_attack["velocity"].iloc[i] = df_turkey["velocity"].iloc[i] + 29
        df_turkey_attack["heading"].iloc[i] = df_turkey["heading"].iloc[i]
        df_turkey_attack["baroaltitude"].iloc[i] = df_turkey["baroaltitude"].iloc[i] #- 0.7
        df_turkey_attack["geoaltitude"].iloc[i] = df_turkey["geoaltitude"].iloc[i] # - 0.5
df_turkey_attack

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,time_t,date,label
686,1638831610,8964a8,41.204835,33.857616,236.374859,128.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
918,1638831610,4a08e6,39.491442,29.826306,219.615352,172.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
1581,1638831610,48418a,39.038248,28.090966,207.777307,140.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2206,1638831610,4d22ac,39.638247,27.125012,228.711315,146.620247,0.00000,BBG461,False,False,False,5546.0,11277.60,11292.84,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
2237,1638831610,4bccad,39.823404,33.359209,209.813714,139.641353,0.32512,SXS3U,False,False,False,7667.0,11879.58,12016.74,1.638832e+09,1.638832e+09,02:00:10,12/07/21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455391,1638827990,4bb84c,39.633650,32.308716,215.721474,136.569792,-0.32512,PGT64Q,False,False,False,5177.0,10668.00,10812.78,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2455530,1638827990,3c5827,41.986736,31.253548,219.834186,119.824995,0.00000,IFA4522,False,False,False,7355.0,10675.62,10751.82,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2455779,1638827990,4ba8cf,38.655923,28.184290,180.135246,279.263591,-10.40384,THY75W,False,False,False,5121.0,6309.36,6377.94,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2456510,1638827990,4ba90d,41.737734,28.021950,173.208525,114.605678,-3.57632,THY8FH,False,False,False,5553.0,3002.28,3025.14,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0
2456618,1638827990,4ba8c5,39.912501,34.681274,228.936151,114.725483,0.00000,THY8VG,False,False,False,5365.0,11269.98,11475.72,1.638828e+09,1.638828e+09,00:59:50,12/07/21,0

In [24]:
df_full_attack_data =  df_turkey_attack[["icao24", "date", "time_t", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]]
df_full_attack_data

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
686,8964a8,12/07/21,02:00:10,1638831610,41.204835,33.857616,128.004857,236.374859,11277.60,11407.14,0
918,4a08e6,12/07/21,02:00:10,1638831610,39.491442,29.826306,172.540797,219.615352,11879.58,11986.26,0
1581,48418a,12/07/21,02:00:10,1638831610,39.038248,28.090966,140.236358,207.777307,11894.82,11917.68,0
2206,4d22ac,12/07/21,02:00:10,1638831610,39.638247,27.125012,146.620247,228.711315,11277.60,11292.84,0
2237,4bccad,12/07/21,02:00:10,1638831610,39.823404,33.359209,139.641353,209.813714,11879.58,12016.74,0
...,...,...,...,...,...,...,...,...,...,...,...
2455391,4bb84c,12/07/21,00:59:50,1638827990,39.633650,32.308716,136.569792,215.721474,10668.00,10812.78,0
2455530,3c5827,12/07/21,00:59:50,1638827990,41.986736,31.253548,119.824995,219.834186,10675.62,10751.82,0
2455779,4ba8cf,12/07/21,00:59:50,1638827990,38.655923,28.184290,279.263591,180.135246,6309.36,6377.94,0
2456510,4ba90d,12/07/21,00:59:50,1638827990,41.737734,28.021950,114.605678,173.208525,3002.28,3025.14,0
2456618,4ba8c5,12/07/21,00:59:50,1638827990,39.912501,34.681274,114.725483,228.936151,11269.98,11475.72,0

In [25]:
icao24 = df_full_attack_data.loc[:, 'icao24']
uniqueValues = icao24.unique()
for i in range(0, len(uniqueValues)):
    df_full_attack_data = df_full_attack_data.replace([uniqueValues[i]], i + 1)
            
            
df_full_attack_data

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
686,1,12/07/21,02:00:10,1638831610,41.204835,33.857616,128.004857,236.374859,11277.60,11407.14,0
918,2,12/07/21,02:00:10,1638831610,39.491442,29.826306,172.540797,219.615352,11879.58,11986.26,0
1581,3,12/07/21,02:00:10,1638831610,39.038248,28.090966,140.236358,207.777307,11894.82,11917.68,0
2206,4,12/07/21,02:00:10,1638831610,39.638247,27.125012,146.620247,228.711315,11277.60,11292.84,0
2237,5,12/07/21,02:00:10,1638831610,39.823404,33.359209,139.641353,209.813714,11879.58,12016.74,0
...,...,...,...,...,...,...,...,...,...,...,...
2455391,76,12/07/21,00:59:50,1638827990,39.633650,32.308716,136.569792,215.721474,10668.00,10812.78,0
2455530,82,12/07/21,00:59:50,1638827990,41.986736,31.253548,119.824995,219.834186,10675.62,10751.82,0
2455779,92,12/07/21,00:59:50,1638827990,38.655923,28.184290,279.263591,180.135246,6309.36,6377.94,0
2456510,81,12/07/21,00:59:50,1638827990,41.737734,28.021950,114.605678,173.208525,3002.28,3025.14,0
2456618,87,12/07/21,00:59:50,1638827990,39.912501,34.681274,114.725483,228.936151,11269.98,11475.72,0

In [39]:
for i in range(0, len(uniqueValues)):
    deneme = df_full_attack_data.replace([uniqueValues[i]], i+ 1)
    
deneme

,icao24,date,time_t,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
686,1,12/07/21,02:00:10,1638831610,41.204835,33.857616,128.004857,236.374859,11277.60,11407.14,0
918,1,12/07/21,02:00:10,1638831610,39.491442,29.826306,172.540797,219.615352,11879.58,11986.26,0
1581,1,12/07/21,02:00:10,1638831610,39.038248,28.090966,140.236358,207.777307,11894.82,11917.68,0
2206,1,12/07/21,02:00:10,1638831610,39.638247,27.125012,146.620247,228.711315,11277.60,11292.84,0
2237,1,12/07/21,02:00:10,1638831610,39.823404,33.359209,139.641353,209.813714,11879.58,12016.74,0
...,...,...,...,...,...,...,...,...,...,...,...
2455391,1,12/07/21,00:59:50,1638827990,39.633650,32.308716,136.569792,215.721474,10668.00,10812.78,0
2455530,1,12/07/21,00:59:50,1638827990,41.986736,31.253548,119.824995,219.834186,10675.62,10751.82,0
2455779,1,12/07/21,00:59:50,1638827990,38.655923,28.184290,279.263591,180.135246,6309.36,6377.94,0
2456510,1,12/07/21,00:59:50,1638827990,41.737734,28.021950,114.605678,173.208525,3002.28,3025.14,0
2456618,1,12/07/21,00:59:50,1638827990,39.862501,34.681274,114.725483,228.936151,11269.98,11475.72,0

In [40]:
df_full_attack_data =  df_full_attack_data[["icao24", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "label"]]
df_full_attack_data

,icao24,time,lat,lon,heading,velocity,baroaltitude,geoaltitude,label
686,1,1638831610,41.154835,33.857816,128.004857,246.374859,11277.60,11407.14,0
918,2,1638831610,39.451442,29.834306,172.540797,190.615352,11879.58,11986.26,0
1581,3,1638831610,38.988248,28.091166,140.236358,217.777307,11894.82,11917.68,0
2206,4,1638831610,39.628247,27.128012,146.620247,208.711315,11277.60,11292.84,0
2237,5,1638831610,39.773404,33.359409,139.641353,219.813714,11879.58,12016.74,0
...,...,...,...,...,...,...,...,...,...
2455391,76,1638827990,39.583650,32.308916,136.569792,225.721474,10668.00,10812.78,0
2455530,82,1638827990,41.986646,31.260548,119.824995,244.834186,10675.62,10751.82,0
2455779,92,1638827990,38.605923,28.184490,279.263591,190.135246,6309.36,6377.94,0
2456510,81,1638827990,41.727734,28.024950,114.605678,153.208525,3002.28,3025.14,0
2456618,87,1638827990,39.812501,34.681474,114.725483,238.936151,11269.98,11475.72,0

In [41]:
df_full_attack_data.to_csv('df_turkey_attack_full.csv', index=False)

NameError: name 'df_full_attack_data' is not defined

# Callsign'e göre bir günde kaç farklı uçağın geçtiğinin hesaplanması

In [12]:
uniqueValues = (df_turkey_attack['icao24']).unique()
#len(uniqueValues)
# uniqueValues

In [13]:
column_names = ["icao24", "date", "time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "class"]
df_deneme = pd.DataFrame(columns = column_names)

for i in range(0, len(uniqueValues)):
    df_turkey_uni = df_turkey_attack[df_turkey_attack["icao24"] == uniqueValues[i]]
    
    
    # lat, lon ve time kolonlarını bir hücrede birleştirme 
    # (vektör olarak ifade etme)
    time_arr = df_turkey_uni["time_t"].to_list()
    lat_arr = df_turkey_uni["lat"].to_numpy()
    lon_arr = df_turkey_uni["lon"].to_numpy()
    head_arr = df_turkey_uni["heading"].to_numpy()
    vel_arr = df_turkey_uni["velocity"].to_numpy()
  #  squawk_arr = df_turkey_uni["squawk"].to_numpy()
    baro_arr = df_turkey_uni["baroaltitude"].to_numpy()
    geo_arr = df_turkey_uni["geoaltitude"].to_numpy()
    
    df_deneme.at[i, 'icao24'] = uniqueValues[i]
    df_deneme.at[i, 'date'] = df_turkey_uni["date"].iloc[0]
    df_deneme.at[i, 'lat'] = lat_arr
    df_deneme.at[i, 'lon'] = lon_arr
    df_deneme.at[i, 'time'] = time_arr
    df_deneme.at[i, 'heading'] = head_arr
    df_deneme.at[i, 'velocity'] = vel_arr
   # df_deneme.at[i, 'squawk'] = squawk_arr
    df_deneme.at[i, 'baroaltitude'] = baro_arr
    df_deneme.at[i, 'geoaltitude'] = geo_arr
    df_deneme.at[i, 'class'] = 0
    
    
# df_deneme

In [14]:
df_resut = df_deneme[["time", "lat", "lon", "heading", "velocity", "baroaltitude", "geoaltitude", "class"]]
# df_resut

In [101]:
df_resut.to_csv('df_turkey_attack.csv', index=False)